.event-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 15%;
    height: 100vh;
}

.event-input input{
    border: 2px solid black;
    width: 40vw;
}

.edit-button{
    background-color: rgb(28, 89, 150); 
    border: none; 
    padding: 0.5rem 2rem; 
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    margin-bottom: 2vh;
}

.delete-button{
    background-color: rgb(134, 49, 49); 
    border: none; 
    padding: 0.5rem 2rem; 
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
