.events-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 15%;
}

.event{
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    width: 70vw;
    border: 2px solid #31458f; 
    border-radius: 10px;
}

.event p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 10%;
    background-color: white; 
    padding: 1rem 0; 
}

.filters{
    display: flex;
    flex-direction: row;
}

.search-bar{
    margin-top: 1vh;
    position: relative;
    display: flex;
    width: 30%;
}

.search-form{
    margin-top: 1vh;
    display: flex;
}

input[type="text"] {
    border-radius: 7px; 
    padding: 1% 1%;
    background-color: rgb(166, 197, 224);
    flex-grow: 1;
    color: black;
    height: 3vh;
    padding: .1rem;
}

.post-comment{
    background-color: transparent; 
    border: none; 
    padding: 0; 
    cursor: pointer;
    outline: none;
}
