header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(28, 89, 150);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 1000;
    color: rgb(226, 231, 235);
}

.search-bar {
    position: relative;
    display: flex;
    width: 20%;
}

.search-icon {
    position: absolute;
    right: 2%;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer; 
}

input[type="text"] {
    border: none;
    border-radius: 7px; 
    padding: 1% 1%;
    background-color: aliceblue;
    flex-grow: 1;
    color: black;
}

.home-create{
    display: flex;
    flex-direction: row;
}

.home-create p{
    margin-right: 18%;
}



